<!-- CSS specific to section1 -->
<style>
    /* CSS styles for section1 */
    .section-one-typoOne {
        color: blue;
    }

    p {
        font-size: 18px;
        /* color: green; */
        font-family: "Noto Sans";

    }

    .rootOverview {
        margin-left: 65px;
        margin-right: 65px;
        background-color: #FCFDFC;
        margin-top: 32px;
    }

    .overview_titleHead {
        color: #000;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        align-items: center;
        display: flex;
        font-family: "Noto Sans";
        justify-content: center;
    }

    .grid-container2_overview {
        display: flex;
        gap: 16px;
        margin-top: 72px;

        max-width: 100%;
    min-width: 100%;
    transform: scale(0.80);
    margin-left: -10%;
    width: 100%;
    }

    .treecard,
    .treecard1,
    .treecard2 {
        min-width: 31%;
        /* max-width : calc(33% - 146px);  */
        width: 31%;
    }

    .treecard {
        height: 508px;
        background-color: #F8F8C2;
        border-radius: 16px;
        border: 4px solid #FFF;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
        padding: 40px;
        position: relative;
    }


    .treecard1 {

        border-radius: 16px;
        border: 4px solid #FFF;
        background: rgba(226, 151, 1, 0.12);
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
        position: relative;
        padding: 40px;
        height: 508px;
    }

    .treecard2 {

        border-radius: 16px;
        border: 4px solid #FFF;
        background: rgba(77, 153, 121, 0.12);
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.05);
        position: relative;
        padding: 40px;
        height: 508px;
    }

    .treetitle {
        color: #807F01;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-family: "Noto Sans";

    }

    .treetitle1 {
        color: #E29701;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-family: "Noto Sans";

    }

    .treetitle2 {
        color: #4D9979;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-family: "Noto Sans";

    }

    .count {
        color: #000;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-top: 16px;
        font-family: "Noto Sans";

    }

    .textGrid {
        display: grid;
    }

    .icondiv {
        margin-top: 40px;
        display: flex;
        position: relative;
        z-index: 99;
    }

    .icondiv1 {
        margin-top: 27px;
        display: flex;
        position: relative;
        z-index: 99;
    }
    .icondiv2 {
        margin-top: 27px;
        display: flex;
        /* position: relative; */
        z-index: 99;
    }

    .types {
        display: grid;
        margin-left: 24px;

    }

    .no {
        color: #807F01;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        font-family: "Noto Sans";

    }

    .typeText {
        color: #000;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-family: "Noto Sans";

    }

    .typedays {
        color: rgba(0, 0, 0, 0.60);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 4px;
        font-family: "Noto Sans";

    }

    .treeImg {
        position: absolute;
        margin-bottom: 54px;
        bottom: 0;
        right: 0;
    }

    .chip {
        border-radius: 6px;
        background: #E29701;
        display: inline-flex;
        padding: 4px 8px 4px 8px;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: fit-content;
        font-family: "Noto Sans";

    }

    .chip1 {
        border-radius: 6px;
        background: #4D9979;
        display: inline-flex;
        padding: 4px 8px 4px 8px;
        justify-content: center;
        align-items: center;
        margin-top: 16px;
        color: #FFF;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: fit-content;
        font-family: "Noto Sans";

    }

    .treeImgFog {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 70px;
    }

    .treeImgoxyg {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 52px;
    }
</style>

<div class="rootOverview">
    <h class="overview_titleHead">Overview</h>
    <div class="grid-container2_overview">
        <div class="treecard">
            <div class="textGrid">
                <h class="treetitle">Trees Planted</h>
                <h class="count"><%= overViewCard?.treePlantedCount %></h>
            </div>
            <div class="icondiv">
                <img src="tree.svg" alt="SVG">
                <div class="types">
                    <h class="no"><%= overViewCard?.varietiesCount %></h>
                    <h class="typeText">Varieties</h>
                </div>
            </div>
            <div class="icondiv1">
                <img src="time.svg" alt="SVG">
                <div class="types">
                    <h class="no"><%= overViewCard?.manHours %></h>
                    <h class="typeText">Man hours</h>
                </div>
            </div>
            <div class="icondiv1">
                <img src="rain.svg" alt="SVG">
                <div class="types">
                    <h class="no"><%= overViewCard?.rainyDaysCount %></h>
                    <h class="typeText">Rainy days</h>
                    <h class="typedays">(Out of <%= overViewCard?.outOfDays %>  days)</h>
                </div>
            </div>
            <img src="treeBg.jpg" class="treeImg">
        </div>

        <div class="treecard1">
            <div class="textGrid">
                <h class="treetitle1">Carbon sequestered</h>
                <h class="count"><%= overViewCard?.carbonSequesteredTon %> ton</h>
                <div class="chip">
                    Equivalent to <%= overViewCard?.emissions %> car emissions!
                </div>
            </div>
            <div class="treeImgFog">

                <img src="fog.svg">
            </div>
        </div>
        <div class="treecard2">
            <div class="textGrid">
                <h class="treetitle2">Oxygen released</h>
                <h class="count"><%= overViewCard?.oxygenReleased %> ton</h>
                <div class="chip1">
                    Equivalent to <%= overViewCard?.cylinders %> cylinders of <%= overViewCard?.liters %> liters
                </div>
            </div>
            <div class="treeImgoxyg">

                <img src="Oxygen.png" style="width: 100%;">
            </div>
        </div>

    </div>

</div>


<!-- JavaScript specific to section1 -->
<script>
    // JavaScript code for section1
    console.log('JavaScript code for section1');
</script>